.center-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-icon {
    margin-right: 16px;
}

.company-name {
    margin-top: 8px;
}