<div class="center-card">
    <mat-card>
        <mat-card-content>
            <div class="contact-info">
                <div class="contact-icon">
                    <mat-icon>phone</mat-icon>
                </div>
            </div>
            <div class="contact-details">
                <h2 class="company-name">Blog z kursu Angular</h2>
                <p>Numer telefonu <strong>+48 555 666 777</strong></p>
                <p>Adres email<strong>kurs@kurs.pl</strong></p>
            </div>
        </mat-card-content>
    </mat-card>
</div>